.profile__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "name button"
    "job .";
  align-items: center;
  gap: 16px 17px;
  margin-left: 30px;
}

@media screen and (max-width: 720px) {
  .profile__container {
    gap: 13px 7px;
  }
}