.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  .popup__container {
   width: calc(100% - 90px);
  }
}